{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block title %}
USER | Edit_blogs
{% endblock %}

{% block content %}

          
           
<div class="container" style="max-width: 1200px; margin: 0 auto;">
  <div class="col-md-10 offset-md-1 mt-4">
      <div class="card">
          <div class="card-body">
              <h2 class="text-center">EDIT BLOG</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <a href="{% url 'user_home' %}" class="btn btn-outline-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
                      {% if messages %}  
  
                      {% for message in messages %}      
                        <script>
                          alert('{{ message }}')
                        </script>      
                      {% endfor %}
                    {% endif %}
                      
            
        

            

{% endblock %}



